name: Multi-Platform Electron Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22


      - name: Install electron dependencies
        run: |
          cd electron
          npm ci
      - name: Electron test 
        run: |
          cd electron
          npm test

      - name: Install wine (only on Linux for Windows build)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
          sudo apt-get install -y wine64 wine32

      - name: Build electron app
        run: |
          cd electron
          npm run dist

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: electron/dist
